@font-face {
  font-family: 'golden cursive';
  src: url('./HerrVonMuellerhoff-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

#content {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url(./restaurant-front.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  height: 100svh;
}

.banner {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  border-bottom: 2px solid rgb(255, 215, 0);
  box-sizing: border-box;
  height: 95px;
}

.banner>div {
  color: white;
  font-weight: 350;
  font-size: 18px;
}

.banner>div:hover {
  border-bottom: 2px solid rgb(255, 215, 0);
  padding-bottom: 5px;
  cursor: pointer;
}

.footer {
  box-sizing: border-box;
  height: 80px;
  color: white;
  border-top: 2px solid rgb(255, 215, 0);
  font-size: 20px;
  line-height: 80px;
  text-align: center;
}

.main {
  height: calc(100vh - 177px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.nameContainer {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 40px;
  border-bottom: 5px solid rgb(200, 150, 0);
}

.nameContainer>.nameCursive {
  font-size: 96px;
  font-family: 'golden cursive', cursive;
  padding: 0;
  text-align: center;
  color: rgb(200, 150, 0);
}

.nameContainer>.nameNormal {
  font-size: 70px;
  font-weight: 800;
  position: absolute;
  width: max-content;
  font-stretch: expanded;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.nameDesc {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 40px;
}

.menuButton {
  width: 150px;
  height: 50px;
  background-color: rgb(197, 157, 95);
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 100;
}

.menuButton:hover {
  color: white;
  cursor: pointer;
}

.main.menu {
  background-color: rgb(245, 245, 240);
}

.menuTitle {
  border-bottom: 4px solid rgb(197, 157, 95);
  position: relative;
  padding-bottom: 40px;
}

.menuTitleCursive {
  color: rgb(197, 157, 95);
  font-family: 'golden cursive', cursive;
  font-size: 100px;
}

.menuTitleNormal {
  font-size: 70px;
  font-weight: 800;
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
}

.menu>[class^=item] {
  margin: 40px 0 0px;
  width: 550px;
  text-align: center;
  border-bottom: 3px solid rgb(197, 157, 95);
}

[class^=itemName] {
  font-size: 25px;
  font-weight: 800;
  color: rgb(200, 150, 0);
  margin-bottom: 10px;
}

[class^=itemDesc] {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 15px;
}

[class^=itemPrice] {
  font-size: 25px;
  padding-bottom: 30px;
}

.about.main {
  background-color: rgb(245, 245, 240);
}

.aboutTitle {
  border-bottom: 4px solid rgb(197, 157, 95);
  position: relative;
  padding-bottom: 40px;
}

.aboutTitleCursive {
  color: rgb(197, 157, 95);
  font-family: 'golden cursive', cursive;
  font-size: 100px;
}

.aboutTitleNormal {
  font-size: 70px;
  font-weight: 800;
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
}

.aboutText {
  text-align: center;
  width: 700px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  margin-top: 50px;
}